---
layout: default
---

     {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
     {% for post in site.posts reversed %}
       {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
       {% if blogDate >= currentDate %}
         {{ post.output }}
         {% break %}
       {% endif %}
      {% endfor %}
          <div class="disp">
            <h2>Le Geneva Java User Group en quelques mots...</h2>
	    <br />
            <p>Le GenevaJUG est un groupe d’utilisateurs Java ayant
            pour but de réunir les acteurs du langage
            (professionnels, communautés open source, institutions,
            étudiants, enseignants…) afin d’échanger des idées et
            de discuter des avancées technologiques de la
            plateforme Java.</p>
            <p>Nous nous rencontrons le dernier mardi du mois. Les
            réunions sont gratuites, ouvertes à tous et consistent
            en une présentation technique, une démonstration d’un
            produit, ou une table ronde. Après la réunion nous nous
            retrouvons généralement pour un échange informel autour
            d’un verre et d’un mini-buffet.</p><br />
          </div>
          <div id="social">
            <ul>
              {% for social in site.data.social %}
              <li>
                <div>
			<a href="{{ social.url }}"><img src="{{ social.img }}" alt="{{ social.name }}" /><span>{{ social.name }}</span></a>
                </div>
              </li>
	      {% endfor %}
            </ul>
          </div>
