    <div id="social">
        <ul>
            <li><a href="http://www.twitter.com/GenevaJUG"><img src="/images/social_twitter.gif" alt="twitter"/></a></li>
            <li><a href="http://www.linkedin.com/groups?gid=2511735"><img src="/images/social_linkedin.gif" alt="linkedin"/></a></li>
            <li><a href="http://groups.google.com/group/genevajug"><img src="/images/social_google.gif" alt="google groups"/></a></li>
            <li><a href="http://www.eventbrite.com/org/1520696882"><img src="/images/social_eventbrite.png" alt="eventbrite"/></a></li>
            <li><a href="http://www.eventbrite.com/rss/organizer_list_events/1520696882"><img src="/images/rss_logo.png" alt="rss"/></a></li>
        </ul>
    </div>
</div>
