<div id="navigation">
	{% include header_navigation.html %}
	<div id="nav">
		<ul>
			<li class="first"><a href="/">Accueil</a></li>
			<li><a href="/jug/archive.html">JUG</a></li>
			<li><a href="/partners/sponsors.html">Partenaires</a></li>
			<li class="parent active"><a href="#">Association</a>
				<ul>
					<li id="presentation"><a href="/association/index.html">Présentation</a></li>
					<li id="membres"><a href="/association/membres.html">Les
							membres</a></li>
				</ul></li>
		</ul>
	</div>
	{% include footer_navigation.html %}
</div>