{% include header_navigation.html %}
<div id="nav">
    <ul>
        <li class="first"><a href="/">Accueil</a></li>
        <li><a href="/jug/agenda.html">JUG</a></li>
        <li><a href="/codingdojo/presentation.html">Coding Dojo</a></li>
        <li><a href="/speaker.academy/">Speaker Academy</a></li>
        <li><a href="/partners/sponsors.html">Partenaires</a></li>
        <li class="parent active"><a href="#">Association</a>
            <ul>
                <li id="presentation"><a href="/association/index.html">Présentation</a></li>
                <li id="membres"><a href="/association/membres.html">Les membres</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </li>
    </ul>
</div>
{% include footer_navigation.html %}
