<div id="navigation">
	{% include header_navigation.html %}
	<div id="nav">
		<ul>
			<li class="first"><a href="/">Accueil</a></li>
			<li><a href="/jug/agenda.html">JUG</a></li>
			<li class="parent active"><a href="#">Coding Dojo</a>
				<ul>
					<li id="presentation"><a href="/codingdojo/presentation.html">Présentation</a></li>
					<li id="nextsession"><a href="/codingdojo/nextsession.html">Prochaine
							session</a></li>
					<li id="archive"><a href="/codingdojo/archive.html">Les
							dojos passés</a></li>
				</ul></li>
			<li><a href="/speaker.academy/">Speaker Academy</a></li>
			<li><a href="/partners/sponsors.html">Partenaires</a></li>
			<li><a href="/association/index.html">Association</a></li>
		</ul>
	</div>
	{% include footer_navigation.html %}
</div>