<div id="navigation">
	{% include header_navigation.html %}
	<div id="nav">
		<ul>
			<li class="first"><a href="/">Accueil</a></li>
			<li><a href="/jug/agenda.html">JUG</a></li>
			<li><a href="/codingdojo/presentation.html">Coding Dojo</a></li>
			<li class="parent active"><a href="#">Speaker Academy</a>
				<ul>
					<li id="presentation"><a href="index.html">Présentation</a></li>
				</ul></li>
			<li><a href="/partners/sponsors.html">Partenaires</a></li>
			<li><a href="/association/index.html">Association</a></li>
		</ul>
	</div>
	{% include footer_navigation.html %}
</div>