<div id="navigation">
	{% include header_navigation.html %}
	<div id="nav">
		<ul>
			<li class="first"><a href="/">Accueil</a></li>
			<li class="parent active"><a href="#">JUG</a>
				<ul>
					<li id="archive"><a href="/jug/archive.html">Réunions
							passées</a></li>
					<li id="speakers"><a href="/jug/speakers.html">Les
							speakers</a></li>
				</ul></li>
			<li><a href="/partners/sponsors.html">Partenaires</a></li>
			<li><a href="/association/index.html">Association</a></li>
		</ul>
	</div>
	{% include footer_navigation.html %}
</div>