<form method="post" action="http://oi.vresp.com?fid=9301178618">

    <div style="font-family: verdana; font-size: 11px; width: 160px; padding: 10px; border: 1px solid #000000; background: #dddddd">
        <strong><span style="color: #333333;">Sign Up Today!</span></strong><br/><br/>
        <label style="color: #333333;">Email Address:</label><br/>
        <input name="email_address" size="15" style="margin-top: 5px; border: 1px solid #999; padding: 3px;"/><br/>
        <input type="submit" value="Join Now" style="margin-top: 5px; border: 1px solid #999; padding: 3px;"/><br/>
        <br/><span style="color: #333333;"><a href="http://www.verticalresponse.com"
                                              title="Email Newsletter by VerticalResponse">Email Newsletter</a> by VerticalResponse</span>
    </div>
</form>
