<div id="social">
        <ul>
            <li><div><a href="http://www.eventbrite.com/org/1520696882"><img src="/images/eventbrite_logo.png" alt="eventbrite"/><span>Eventbrite</span></a></div></li>
            <li><div><a href="http://www.twitter.com/GenevaJUG"><img src="/images/twitter_logo.jpg" alt="twitter"/><span>Twitter</span></a></div></li>
            <li><div><a href="https://plus.google.com/114530398687218050969" rel="publisher"><img src="/images/googlePlus_logo.jpg" alt="Google+"/><span>Google+</span></a></div></li>
            <li><div><a href="http://www.eventbrite.com/rss/organizer_list_events/1520696882"><img src="/images/rss_logo.png" alt="rss"/><span>RSS Events</span></a></div></li>
            <li><div><a href="http://www.linkedin.com/groups?gid=2511735"><img src="/images/linkedin_logo.png" alt="linkedin"/><span>LinkedIn</span></a></div></li>
            <li><div><a href="http://groups.google.com/group/genevajug"><img src="/images/google_groups_logo.png" alt="google groups"/><span>Google Groups</span></a></div></li>
        </ul>
</div>
