---
layout: association
---
{% include border_left.html %}
{% for post in site.categories.members %}
<div class="span-18 last" align="center">
    <div class="span-4">
        <img src="/images/members/{{ post.photo }}" height="80" align="right"/></a>
    </div>
    <div class="span-14 last" align="justify">
        <h3>{{ post.title }}</h3>

        <p>
            {{ post.content }}
            <a class="linkedin-profileinsider-popup" href="{{ post.linkedIn }}">{{ post.title }}</a>
            <a href="http://www.twitter.com/{{ post.twitter }}" style="margin-left:40px;">
                <img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png"
                     alt="Follow {{ post.twitter }} on Twitter"/>
            </a>
        </p>
    </div>
    <hr>
</div>
{% endfor %}
{% include border_right.html %}
