body {
    margin: 1em 0;
}

#site-menu {
    padding-left: 0;
}

#site-menu li {
    display: inline;
}

.speaker-photo {
    height: 120px;
    margin-right: 20px;
    margin-top: 10px
}

ul#grid-premium li {
    list-style: none outside;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 260px;
    height: 110px;
    text-align: center;
}

ul#grid-premium li img {
    vertical-align: middle;
    height: 100px;
}

ul#grid-saison li {
    list-style: none outside;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 140px;
    height: 70px;
    text-align: center;
}

ul#grid-saison li img {
    vertical-align: middle;
    height: 60px;
}