---
layout: partners
---

<script type="text/javascript">
    $(document).ready(function() {
        $("#sponsor").attr("class", "active");
        var params = location.search.substring(1).split(/&/);
        var sessionParam = params[0].split('=');
        $("a#"+sessionParam[1]).click();
    });
</script>
<div class="disp">
    <h2>Nos sponsors premiums</h2>
    <ul id="grid-premium">
        {% for post in site.categories.premium %}
        <li><a href="{{ post.url }}" class="load" id="{{ post.key }}"><img src="/images/sponsors/{{ post.logo }}" alt="{{ post.title }}"/></a></li>
        {% endfor %}
    </ul>
</div>
<div class="disp">
    <h2>Nos sponsors saison</h2>
    <ul id="grid-saison">
        {% for post in site.categories.saison %}
        <li><a href="{{ post.url }}" class="load" id="{{ post.key }}"><img src="/images/sponsors/{{ post.logo }}" alt="{{ post.title }}"/></a></li>
        {% endfor %}
    </ul>
</div>
<div id="details"></div>
