<div class="disp">
    <h2>{{ page.title }}</h2>
    {% if page.speaker %}<h3>avec <a href="speakers.html?key={{ page.speakerKey }}">{{ page.speaker }}</a>
    {% if page.speaker2 %} et <a href="speakers.html?key={{ page.speakerKey2 }}">{{ page.speaker2 }}</a>{% endif %}</h3>
    {% endif %}
    <br>

    {% if page.logo %}
    <img src="/images/events/{{ page.logo }}" class="event-logo" alt="{{ page.title }}">
    {% endif %}
    {{ content }}

    {% if page.slideshareId %}
    <iframe src="http://www.slideshare.net/slideshow/embed_code/{{ page.slideshareId }}" width="310" height="250" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    {% endif %}
    {% if page.slideshareId2 %}
    <iframe src="http://www.slideshare.net/slideshow/embed_code/{{ page.slideshareId2 }}" width="310" height="250" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    {% endif %}
    {% if page.picasa %}
    <embed type="application/x-shockwave-flash"
           src="http://picasaweb.google.com/s/c/bin/slideshow.swf"
           width="310" height="250"
           flashvars="host=picasaweb.google.com&captions=1&hl=fr&feat=flashalbum&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fxavierbourguignon%2Falbumid%2F{{ page.picasa }}%3Falt%3Drss%26kind%3Dphoto%26hl%3Dfr"
           pluginspage="http://www.macromedia.com/go/getflashplayer">
    </embed>
    {% endif %}
</div>