<div class="span-2">
    <br>
</div>
<div class="span-16">
    <p style="float:left;">
        <img src="/images/events/{{ page.logo }}" class="event-logo" alt="{{ page.title }}">
    </p>
    {{ content }}

    <div style="width:425px" id="__ss_{{ page.slideshareId }}">
        <object id="__sse{{ page.slideshareId }}" width="425" height="355">
            <param name="movie"
                   value="http://static.slidesharecdn.com/swf/ssplayer2.swf?{{ page.slideshareParam }}" />
            <param name="allowFullScreen" value="true"/>
            <param name="allowScriptAccess" value="always"/>
            <embed name="__sse{{ page.slideshareId }}"
                   src="http://static.slidesharecdn.com/swf/ssplayer2.swf?{{ page.slideshareParam }}"
                   type="application/x-shockwave-flash"
                   allowscriptaccess="always"
                   allowfullscreen="true"
                   width="425"
                   height="355"></embed>
        </object>
     </div>
</div>
<div class="span-2 last">
    <br>
</div>
