<div class="disp">
    <h2>{{ page.title }}</h2>
    <h3>Le {% assign dy = page.date | date: "%a" %}{% case dy %}{% when "Mon" %}Lundi{% when "Tue" %}Mardi{% when "Wed" %}Mercredi{% when "Thu" %}Jeudi{% when "Fri" %}Vendredi{% when "Sat" %}Samedi{% when "Sun" %}Dimanche{% else %}{{ dy }}{% endcase %} {% assign d = page.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.date | date: '%Y' }} à partir de 18h30</h3>
    {%if page.speaker %}
    {% assign speakerid="/speakers/"|append: page.speaker[0]  %}
    {% assign firstspeaker = site.speakers|where:"id", speakerid |first%}
    <h3>Avec <a href="/jug/speakers.html?speaker={{ page.speaker[0] }} ">{{ firstspeaker.title}}</a> 
	    {% if page.speaker.size > 1 %} 
	      {% for nextspeakerid in page.speaker offset:1 %}
	        {% assign nextspeakerfullid = "/speakers/"|append: nextspeakerid %}
	        {% assign nextspeaker = site.speakers|where:"id", nextspeakerfullid |first %}
	        et <a href="/jug/speakers.html?speaker={{ nextspeakerid }} ">{{ nextspeaker.title}}</a> 
	      {% endfor %}
	    {% endif %}
    </h3>
    {%endif%}
    {% if page.img %} <img src="{{ page.img }}" class="event-logo" alt="{{ page.title }}" >{% endif %}
    <br/>
    {{ content }}
    <br/>
    {%  if page.slideshare %} {% for slideshare in  page.slideshare %}<iframe src="http://www.slideshare.net/slideshow/embed_code/{{ slideshare }}" width="620" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> {% endfor %}{%  endif %}
    {%  if page.youtube %}<hr/><br/><h3>Vidéo de la session</h3><div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtube }}" frameborder="0" allowfullscreen></iframe></div>{%endif%}

    {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
    {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
    {% if blogDate < currentDate %}
      {% if page.location %}<p><a href="{{page.locationlink}}"> {{page.location}}</a> est situé {{page.address}} </p>{%endif%}
      {% if page.transport%}<p>Transport public : {{page.transport}} </p>{%endif%}
      {% if page.parking%}<p>Parking : {{page.parking}} </p>{%endif%}
      {% if page.eventbrite%}<center><a href="https://www.eventbrite.com/e/{{page.eventbrite}}{{page.eventbriteid}}?aff=mc" target="_blank"><img src="https://www.eventbrite.fr/custombutton?eid={{page.eventbriteid}}" alt="Eventbrite - {{page.title}}" /></a></center>{%endif%}
    {%endif%}
</div>
