<div class="disp">
    <div class="img">
        <a href="{{ page.website }}"><img src="/images/sponsors/{{ page.logo }}" width="160"/></a>
        <h3>Retrouvez les sur</h3>
        {% if page.twitter %}
            <a href="http://twitter.com/{{ page.twitter }}"><img src="/images/twitter.png" width="120"></a>
        {% endif %}
        <a href="http://www.linkedin.com/company/{{ page.linkedIn }}"><img src="/images/linkedin.png" width="120"/></a>
    </div>
    <div class="text">
    {{ content }}
    </div>
</div>
